body {
    background-color: crimson;
    font: normal 15pt Arial;
}

header {
    color: aliceblue;
    text-align: center;
}

section {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}